# Database
DATABASE_URL="postgresql://user:password@localhost:5432/medblog?schema=public"
DIRECT_DATABASE_URL="postgresql://user:password@localhost:5432/medblog?schema=public"

# NextAuth
NEXTAUTH_SECRET="your-super-secret-key-change-this-in-production"
NEXTAUTH_URL="http://localhost:3000"

# Upload folder (optional)
UPLOAD_DIR="./uploads"
